In [1]:
import pandas as pd
import numpy as np
import matplotlib
import random 
from matplotlib import pyplot as plt
matplotlib.style.use('ggplot')
%matplotlib inline

Полезные сссылки

1. https://github.com/Yorko/mlcourse_open
2. https://github.com/Yorko/mlcourse_open/blob/master/jupyter_notebooks/topic01_pandas_data_analysis/%5Bsolution%5D_lesson1_practice_pandas_titanic.ipynb pandas  с Титаник - задачки
3. https://github.com/Yorko/mlcourse_open/blob/master/jupyter_notebooks/topic01_pandas_data_analysis/lesson1_pandas_intro_inclass_dirty.ipynb - Pandas intro
4. https://github.com/Yorko/mlcourse_open/blob/master/jupyter_notebooks/topic01_pandas_data_analysis/lesson1_part0_numpy.ipynb - Pandas + Numpy
5. https://github.com/Yorko/mlcourse_open/blob/master/jupyter_notebooks/topic01_pandas_data_analysis/lesson1_part1_pandas_intro.ipynb - Pandas intro
6. https://github.com/Yorko/mlcourse_open/blob/master/jupyter_notebooks/topic01_pandas_data_analysis/topic1_habr_pandas.ipynb - Pandas
7. http://malev.ru/%D0%BC%D0%B0%D0%BD%D0%B8%D0%BF%D1%83%D0%BB%D1%8F%D1%86%D0%B8%D1%8F-%D0%B8-%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B0-%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85-%D0%B2-python-data-wrangling-and/ - Data wrangling and munging
8. http://malev.ru/%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7-%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85-%D0%BF%D1%80%D0%B8-%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D0%B8-python-%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D0%BD%D1%8B%D0%B5-%D1%81%D1%82/ - Exploratory Analysis) часть 1
9. http://malev.ru/%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7-%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85-%D0%BF%D1%80%D0%B8-%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D0%B8-python-%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D0%BD%D1%8B%D0%B5-%D1%81%D1%82-2/ - Exploratory Analysis) часть 2
10.  http://pandas.pydata.org/pandas-docs/stable/10min.html - 10 minutes to Pandas
11. https://stackoverflow.com/questions/33240937/keeping-rows-in-pandas-where-the-same-id-appears-more-than-n-times-and-convert-t
12. https://stackoverflow.com/questions/33240937/keeping-rows-in-pandas-where-the-same-id-appears-more-than-n-times-and-convert-t 
13. https://stackoverflow.com/questions/34776651/concatenate-rows-of-pandas-dataframe-with-same-id 
14. https://stackoverflow.com/questions/43077258/python-pandas-compare-values-of-two-dataframes-with-different-columns-names-by
15. https://stackoverflow.com/search?q=compare+rows+with+the+same+id+pandas 
16. https://stackoverflow.com/questions/45018396/how-to-compare-rows-in-a-dataframe-in-pandas
17. https://stackoverflow.com/questions/36526202/how-to-merge-two-separated-dataframes-again-in-the-same-order-using-python
18. https://stackoverflow.com/questions/29464234/compare-python-pandas-dataframes-for-matching-rows
19. https://stackoverflow.com/questions/13114512/calculating-difference-between-two-rows-in-python-pandas
20. https://stackoverflow.com/questions/29446844/fastest-way-to-compare-row-and-previous-row-in-pandas-dataframe-with-millions-of
21. https://stackoverflow.com/questions/40834806/compare-values-between-different-rows-in-pandas
22. https://stackoverflow.com/questions/30960734/compute-difference-between-rows-in-pandas-dataframe
23. https://pandas.pydata.org/pandas-docs/stable/dsintro.html 
24. https://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro-deprecate-panel 
25. http://xarray.pydata.org/en/stable/pandas.html 
26. https://stackoverflow.com/questions/tagged/python-xarray?page=2&sort=newest&pagesize=15 
27. https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Panel.html
28. https://stackoverflow.com/questions/2212433/counting-the-number-of-keywords-in-a-dictionary-in-python  
28. https://stackoverflow.com/questions/22923775/calculate-pandas-dataframe-time-difference-between-two-columns-in-hours-and-minu 
29. https://stackoverflow.com/questions/31490816/calculate-datetime-difference-in-years-months-etc-in-a-new-pandas-dataframe-c 
30. compare rows with the same id pandas 
31. 
32. 
33.


* **Предобработка**
 * *Посмотреть на типы данных*
    * Объединить их в группы для дальнейшей работы (дата-время, бинарные, категориальные и вещественные)
    * Если данные соотнесены со временем - для обучения необходимо использовать более ранние даные (чтобы в обучение не попали  данные из будущего)
    * Перевод колонки с датой в формат datetime 
 * *Проверить коллинеарность признаков (вещественных отдельно)*
    * Выбрать подход, что делать с коллинеарными (если предсказываем вещественный принак - также проверить, не дают ли наши признаки в сумме этот признак) (np.all(train_data.feature1 + train_data.feature1 == train_labels)) - вырезать эти данные, если такое встретилось
 * *Посмотреть на распределение признаков (каких именно - хз)*
    * Например, целевого или вещественных. Если есть выбивающиеся значения и их много - возможно, эту группу стоит обрабатывать отдельно 
    * Посмотреть на "пограничные" значения, метрики среднего - возможно, это даст понимание признаков
    * Если задача классификации - и в выборке дисбаланс классов -> сбалансировать кассы (досэмплировать маленкий или удалить большой)
    
 * *Проверить наличие пропущенных значений* 
    * raw_data.isnull().values.any() # выдаёт общую характериктику 
    * Решить проблему NA 
        * для вещественных: с помощью группировки и подставления среднего по значимым группам
        * для категориальных: ?
        
        
* **Exploratory research**
 * Построение кросс-табов
 * Создание  доп.параметров (и проверка кросс-табов и простых статистик по ним)
 
 
* **Построение модели**
 * *Привести к виду, понятному машине* - масштабирование и one-hot encoding можно делать в pipeline в ходе обучения [2], а изначально[1] смотреть на неотмасштабированные, понятные человеку признаки
    * [1] Перевод колонки с датой в формат datetime 
    * [2] Масштабировать численные (для RandomForest не требуется). Вычисление параметров мастабирования: на обучающей выборке (fit_transform), применение scaler - на тестовой (только transform, scaler на ней учить нельзя)
    * [2] Векторизовать категориальные (при этом кодирование должно быть одинаковое и для train, и для test)
    * [2] Оцифровать текстовые
 * *Балансировка классов* 
 * *Определение гиперпараметров выбранной модели*
    * вызов планируемой модели + выбор гиперпараметров для настройки
    * ввод переменной param_grid для поиска по сетке
 * *Обучение модели*    
 
 
****
**Обработка данных в pipeline**
* *Работа с бинарными данными*
 * Бинарные данные устраивают нас в таком виде, в котором они уже есть - их нужно просто выелить.
 * Поэтому мы просто используем FunctionTransformer, которому мы передаем наш логический индекс, соответствующий бинарным признакам, и говорим, что нам достаточно просто эти данные выбрать, отделить их от всего dataset и, не изменяя, положить их отдельно. 

* *Работа с числовыми данными*
 * Нужно применять преобразования: выделить и отмасштабировать.
 * В данном случае нам придется объявить внутри Pipeline, что он состоит из двух шагов:◦первый шаг — это трансформер, мы передаем сюда логический индекс для числовых данных и отделяем их от всех остальных
    * дальше к данным, которые мы отделили, мы применяем scaling (с помощью scaler) — делаем масштабирование. 


* *Работа с категориальными данными*
 * Нужно применять другие преобразования: выделить и привести к бинарному.
 * Создаём Pipeline, которому передаём следующие шаги:◦отделение этих данных трансформером: передаем сюда логический индекс для категориальных признаков и отделяем нужную часть набора данных
    * дальше применяем методику hot encoding для бинарного перекодирования категриального признака, т.е. создание из каждого признака n признаков по числу его значений.

Читаем файл

In [2]:
data = pd.read_csv('book2_test.csv')
data.head()

,Unnamed: 0,ID,SK_DATE_DECISION,DEF,NUM_SOURCE,CREDIT_ACTIVE,CREDIT_COLLATERAL,CREDIT_CURRENCY,DTIME_CREDIT,CREDIT_DAY_OVERDUE,...,CREDIT_DELAY90,CREDIT_DELAY_MORE,AMT_REQ_SOURCE_HOUR,AMT_REQ_SOURCE_DAY,AMT_REQ_SOURCE_WEEK,AMT_REQ_SOURCE_MON,AMT_REQ_SOURCE_QRT,AMT_REQ_SOURCE_YEAR,AMT_ANNUITY,TEXT_PAYMENT_DISCIPLINE
0,103655,63284,20151019,0,4,1,0,rur,20.12.2014,0,...,0,0,0,0,0,0,0,3,753.85,XX000000000
1,130390,63284,20151019,0,3,1,0,rur,02.07.2014,0,...,0,0,0,0,0,0,0,3,7580.00,X000000000000000
2,153121,63284,20151019,0,1,0,0,rur,03.12.2011,0,...,0,0,0,0,0,0,0,3,0.00,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC000000
3,176961,63284,20151019,0,3,0,0,rur,03.12.2007,0,...,0,0,0,0,0,0,0,3,0.00,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC0000000000...
4,209935,63284,20151019,0,1,0,0,rur,24.01.2012,0,...,0,0,0,0,0,0,0,3,0.00,CCCCCCCCCCCCCCC0X0X0X000X000X0X0XXX000XX00X0XX

Удаляем столбец - рудимент импорта выборки

In [3]:
data.drop('Unnamed: 0', axis = 1, inplace = True)
data.head()

,ID,SK_DATE_DECISION,DEF,NUM_SOURCE,CREDIT_ACTIVE,CREDIT_COLLATERAL,CREDIT_CURRENCY,DTIME_CREDIT,CREDIT_DAY_OVERDUE,DTIME_CREDIT_ENDDATE,...,CREDIT_DELAY90,CREDIT_DELAY_MORE,AMT_REQ_SOURCE_HOUR,AMT_REQ_SOURCE_DAY,AMT_REQ_SOURCE_WEEK,AMT_REQ_SOURCE_MON,AMT_REQ_SOURCE_QRT,AMT_REQ_SOURCE_YEAR,AMT_ANNUITY,TEXT_PAYMENT_DISCIPLINE
0,63284,20151019,0,4,1,0,rur,20.12.2014,0,21.12.2015,...,0,0,0,0,0,0,0,3,753.85,XX000000000
1,63284,20151019,0,3,1,0,rur,02.07.2014,0,25.06.2018,...,0,0,0,0,0,0,0,3,7580.00,X000000000000000
2,63284,20151019,0,1,0,0,rur,03.12.2011,0,04.06.2012,...,0,0,0,0,0,0,0,3,0.00,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC000000
3,63284,20151019,0,3,0,0,rur,03.12.2007,0,12.11.2012,...,0,0,0,0,0,0,0,3,0.00,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC0000000000...
4,63284,20151019,0,1,0,0,rur,24.01.2012,0,24.01.2017,...,0,0,0,0,0,0,0,3,0.00,CCCCCCCCCCCCCCC0X0X0X000X000X0X0XXX000XX00X0XX

Выводим список колонок

In [4]:
columns = list(data.columns.values)
print columns

['ID', 'SK_DATE_DECISION', 'DEF', 'NUM_SOURCE', 'CREDIT_ACTIVE', 'CREDIT_COLLATERAL', 'CREDIT_CURRENCY', 'DTIME_CREDIT', 'CREDIT_DAY_OVERDUE', 'DTIME_CREDIT_ENDDATE', 'DTIME_CREDIT_ENDDATE_FACT', 'CREDIT_FACILITY', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG', 'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_SUM_TYPE', 'CREDIT_TYPE', 'DTIME_CREDIT_UPDATE', 'CREDIT_DELAY30', 'CREDIT_DELAY5', 'CREDIT_DELAY60', 'CREDIT_DELAY90', 'CREDIT_DELAY_MORE', 'AMT_REQ_SOURCE_HOUR', 'AMT_REQ_SOURCE_DAY', 'AMT_REQ_SOURCE_WEEK', 'AMT_REQ_SOURCE_MON', 'AMT_REQ_SOURCE_QRT', 'AMT_REQ_SOURCE_YEAR', 'AMT_ANNUITY', 'TEXT_PAYMENT_DISCIPLINE']

**Доступное описание признаков:**

ID - идентификатор заявки на кредит

SK_DATE_DECISION - дата рассмотрения заявки

DEF – целевая переменная 0 -1 (задача классификации)

Переменные – атрибуты кредита из кредитной истории:
NUM_SOURCE - номер источника данных - категория

CREDIT_ACTIVE - статус кредитного договора - категрия 0 -  9
 * 0 - договор закрыт
 * 1 - договор активен
 * 2 - договор продан
 * 3 - безнадежный долг
 * 4 - договор реструктурирован/ рефинансирован
 * 5 - договор передан коллекторам
 * 6 - договор заблокирован
 * 7 - договор отменен
 * 8 – прекращение информирования по договору
 * 9 – заемщик освобожден от дальнейшего исполнения требований кредиторов по причине банкротства

CREDIT_COLLATERAL - признак погашения за счет обеспечения / поручительства категрия 0 - 1

CREDIT_CURRENCY валюта кредита категрия (5 знач.)
 * 810 или RUR - рубль
 * 840 или USD - американский доллар
 * 978 или EUR - евро
 * 756 или CHF - швейцарский франк
 * 392 или JPY - японская йена

DTIME_CREDIT - дата выдачи кредита

CREDIT_DAY_OVERDUE - текущая просроченная задолженность, дни

DTIME_CREDIT_ENDDATE - планируемая дата окончания кредита

DTIME_CREDIT_ENDDATE_FACT - фактическая дата окончания кредита

CREDIT_FACILITY – семантика поля неизвестна

AMT_CREDIT_MAX_OVERDUE - максимальная просроченная задолженность за все время жизни договора, сумма

CNT_CREDIT_PROLONG - число пролонгаций кредита

AMT_CREDIT_SUM - сумма кредита

AMT_CREDIT_SUM_DEBT - сумма оставшегося долга

AMT_CREDIT_SUM_LIMIT – лимит (для карт)

AMT_CREDIT_SUM_OVERDUE - текущая просроченная задолженность, сумма

CREDIT_SUM_TYPE - тип задолженностей 0 - 1
  * 0 - все задолженности по ОД
  * 1 - полные суммы с %

CREDIT_TYPE - тип договора (ранг / ктатегория) 0 -19 +2
  * 0 - неизвестный тип кредита
  * 1 - кредит на автомобиль
  * 2 - лизинг
  * 3 - ипотека
  * 4 - кредитная карта
  * 5 - потребительский кредит
  * 6 - кредит на развитие бизнеса
  * 7 - кредит на пополнение оборотных средств
  * 8 - кредит на покупку оборудования
  * 9 - кредит на строительство недвижимости
  * 10 - кредит на покупку акций (маржинальное кредитование)
  * 11 - межбанковский кредит
  * 12 - кредит мобильного оператора
  * 13 - кредит на обучение
  * 14 - дебетовая карта с овердрафтом
  * 15 - ипотека (первичный рынок)
  * 16 - ипотека (вторичный рынок)
  * 17 - ипотека (ломбардный кредит)
  * 18 - кредит наличными (нецелевой)
  * 19 - микрозайм
  * 90 - договор поручительства
  * 99 - другой тип кредита

DTIME_CREDIT_UPDATE - дата последнего обновления информации в источнике

CREDIT_DELAY30 - число просроченных на 6..30 дней платежей

CREDIT_DELAY5 - число просроченных на не более 5 дней платежей

CREDIT_DELAY60 - число просроченных на 31..60 дней платежей

CREDIT_DELAY90 - число просроченных на 61..90 дней платежей

CREDIT_DELAY_MORE - число просроченных на 90+ дней платежей

AMT_REQ_SOURCE_HOUR - число запросов к источнику за последний час

AMT_REQ_SOURCE_DAY - число запросов к источнику за последний день (не считая последний час)

AMT_REQ_SOURCE_WEEK - число запросов к источнику за последнюю неделю (не считая последний день)

AMT_REQ_SOURCE_MON - число запросов к источнику за последний месяц (не считая последнюю неделю)

AMT_REQ_SOURCE_QRT - число запросов к источнику за последний квартал (не считая последний месяц)

AMT_REQ_SOURCE_YEAR - число запросов к источнику за последний год (не считая последний квартал)

AMT_ANNUITY - сумма ежемесячного платежа

TEXT_PAYMENT_DISCIPLINE
  * 0 – своевременный платеж
  * 1 – просрочка 1..30 дней
  * 2 – просрочка 31..60 дней
  * 3 – просрочка 61..90 дней
  * 4 – просрочка 91..120 дней
  * 5 – просрочка 121+ дней, передан коллекторам, продан, списан
  * X – статус неизвестен
  * C – договор закрыт

Смотрим на типы данных в признаках

In [ ]:
data.info()

FACILITY мало (64 / 1745 = 3.7%), поэтому его можно дропнуть

<font color='blue'>**Так как понадобится делать числовые преобразования, надо добавить колонку, в которой сумма кредита приведена к одной валюте** <div>


Надо обеспечить так чтобы в выборке были все валюты</font>

In [ ]:
data['CREDIT_CURRENCY'].describe(include=['object', 'bool'])

In [ ]:
data['CREDIT_CURRENCY'].unique()

!! **надо всю обработку данных делать после того, как удалены дублирующие строки (чтобы скорее обрабатывалось)**

In [ ]:
USD = 58.336 # можно было бы настроить, чтобы забирал с биржи, но лчше статиснче значения, чтобы не портить данные
EUR = 69.347
CHF = 59.375
JPY = 0.523


def RUR_converter(cur, summ): # сделать более красивый вид
    if cur == 'usd' or  cur == '840':
        return summ * USD
    if cur == 'usd' or  cur == '978':
        return summ * EUR
    if cur == 'usd' or  cur == '756':
        return summ * CHF
    if cur == 'usd' or  cur == '392':
        return summ * JPY
    else:
        return summ

In [39]:
data['AMT_CREDIT_SUM'][0]

9800.0

In [ ]:
series = []
for index in data.index:
    series.append(RUR_converter(data['CREDIT_CURRENCY'][index], data['AMT_CREDIT_SUM'][index]))

#print series 
data['CREDIT_CURRENCY_rur'] = series
data[['CREDIT_CURRENCY', 'AMT_CREDIT_SUM', 'CREDIT_CURRENCY_rur']].head()

**Преобразовываем признаки-даты**

In [5]:
data.DTIME_CREDIT_ENDDATE = data.DTIME_CREDIT_ENDDATE.apply(pd.to_datetime)

In [6]:
data.DTIME_CREDIT_ENDDATE_FACT = data.DTIME_CREDIT_ENDDATE_FACT.apply(pd.to_datetime)

In [7]:
data.DTIME_CREDIT = data.DTIME_CREDIT.apply(pd.to_datetime)

In [8]:
data.DTIME_CREDIT_UPDATE = data.DTIME_CREDIT_UPDATE.apply(pd.to_datetime)

**Типизируем переменные и объединяем их в группы**

In [9]:
# 31 features
date_cols = ['DTIME_CREDIT', 'DTIME_CREDIT_ENDDATE',
             'DTIME_CREDIT_ENDDATE_FACT', 'DTIME_CREDIT_UPDATE' ]
numeric_cols = ['CREDIT_DAY_OVERDUE', 'AMT_CREDIT_MAX_OVERDUE',
                'CNT_CREDIT_PROLONG', 'AMT_CREDIT_SUM',
                'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT',
                'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_DELAY30', 
                'CREDIT_DELAY5', 'CREDIT_DELAY60', 'CREDIT_DELAY90',
                'CREDIT_DELAY_MORE', 'AMT_REQ_SOURCE_HOUR', 
                'AMT_REQ_SOURCE_DAY', 'AMT_REQ_SOURCE_WEEK',
                'AMT_REQ_SOURCE_MON', 'AMT_REQ_SOURCE_QRT',
                'AMT_REQ_SOURCE_YEAR', 'AMT_ANNUITY',]
categorical_cols = ['NUM_SOURCE', 'CREDIT_ACTIVE', 'CREDIT_COLLATERAL',
                    'CREDIT_CURRENCY', 'CREDIT_FACILITY', 'CREDIT_SUM_TYPE',
                    'CREDIT_TYPE' ]
text_col = ['TEXT_PAYMENT_DISCIPLINE']

## Проблемы данных

**Проблема 1**

Заменить в TEXT_PAYMENT_DISCIPLINE ? <div>
0 – своевременный платеж <div>
1 – просрочка 1..30 дней = это д.б. сумма 'CREDIT_DELAY30' и 'CREDIT_DELAY5' - можно убрать, т.к. есть более детальная информация <div>
2 – просрочка 31..60 дней = это д.б. 'CREDIT_DELAY60' - если совпадает можно убрать <div> 
3 – просрочка 61..90 дней = это д.б. 'CREDIT_DELAY90' - если совпадает можно убрать<div>
4 – просрочка 91..120 дней = это должно входить в 'CREDIT_DELAY_MORE' - т.о. в ТЕХТ детальнее инфа <div>
5 – просрочка 121+ дней, передан коллекторам, продан, списан  = это должно входить в 'CREDIT_DELAY_MORE' - т.о. в ТЕХТ детальнее инфа<div>
X – статус неизвестен <div>
C – договор закрыт <div>

**Проблема 2**

* Если один ID, один источник данных, один и тот же тип кредита =>  какие противоречия?
* Если один ID, один источник данных и разные источники данных =>  какие противоречия?

### Работаем с Проблемой 1

In [ ]:
data.TEXT_PAYMENT_DISCIPLINE.describe()

In [ ]:
# Промежуточный код
data[data['CREDIT_DELAY30'] >= 1][['CREDIT_DELAY30',
                                    'CREDIT_DELAY5',
                                    'CREDIT_DELAY60',
                                    'CREDIT_DELAY90',
                                    'CREDIT_DELAY_MORE',
                                    'TEXT_PAYMENT_DISCIPLINE']].head()
    #print data[['CREDIT_DELAY30', 'CREDIT_DELAY5', 'CREDIT_DELAY60',
     #'CREDIT_DELAY90', 'CREDIT_DELAY_MORE', 'TEXT_PAYMENT_DISCIPLINE']].head()

In [ ]:
data_p1_30 = data.groupby('CREDIT_DELAY30')
for (i, sub_data) in data_p1:
    print "'CREDIT_DELAY30' = ", i, '\n', (sub_data[['CREDIT_DELAY30',
                                                     'CREDIT_DELAY5',
                                                     'CREDIT_DELAY60',
                                                     'CREDIT_DELAY90',
                                                     'CREDIT_DELAY_MORE',
                                                     'TEXT_PAYMENT_DISCIPLINE']].head())
    
    
# сonver_objects не работает- нужно что-то ругое для преобразования объекта в текст

<font color='blue'>*Вывод: Грубо подтвердились предположения о суммах обозначений в TEXT По отношению к* CREDIT_DELAY</font>

In [ ]:
# код с ошибкой 
data['Text'] = [t[0:-10] for t in data.TEXT_PAYMENT_DISCIPLINE]

In [ ]:
# код с ошибкой 
for 'X' in data['TEXT_PAYMENT_DISCIPLINE'] == 'XX000000000':
    print 1

In [ ]:
# код с ошибкой 
for row in data:
    x = data['TEXT_PAYMENT_DISCIPLINE'].count('X')

<font color='blue'>*Пока не будем работать с этими данными, хотя там наверняка полезная информация <div>

*Нужно найти способ конвертировать object в распознаваемый набор символов (т.к. нужно считать количество Х, например, или учитывать, на какм месте справа впервые появилась просрочка)*</font>
****

****
<font color='red'> При работе с текстовой строкой можно было бы использовать функции поиска подстроки в строке: .find & .rfind (поиск с начала или с конца строки) и сделать цикл типа дл ккаждого элемента в наборе уникальных элементов - почитать и число вхождений и последнее/первое вхождение </font>

### Работаем с Проблемой 2

**Идеи как отобрать источники**

* Смотрим, какие признаки можно использовать однозначно (одинаковые для всех источников):
   * Для начала надо соотнести строки из разных источников. попробовать по тем параметрам которые идентичны - смёрджить их в первую очередь
   * если "идентичных" параметров изначально не хватает чтобы однозначно соотнести строки, нужно будет найти поля, для которых можно ввести предел отклонения.  т.е. например по дате, если она в пределах 1-2 дней, считаем что это одна дата и одно действие пользователя. получаем уникальный идентификатор строки - "ID + дата"  после этого можно анализировать остальные параметры и их различие для этого идентификатора
   
* По различающимся параметрам провести анализ различий и потом придумать алгоритмы для мёрджа данных из разных источников для каждого признака:
   * Смотрим на число обращений других банков к этому источнику (число обращений к данному источнику данных (NUM_SOURCE) от других банков за соответствующий суффиксу временной период от дачи подачи заявки на кредит)- выявляем непопулярне источники, если обнаружатся
   * Можно было бы также проверить не только частоту обращений, но и сколько раз в источнике не было данных (количество Х в TEXT или иным способом - так мы бы идентифицировали бесполезные источники)
   * Проверить все параметры между разными источниками. Если выяснится что данные из одного источника стабильно отличаются от трех других, тогда можно подумать о его отбраковке
   * Далее надо выяснить характер отличий каждого из параметров у разных источников и на этом основании для каждого признака придумать алгоритм, по которому будут отбираться данные (заменяться на максимум или среднее по всем источникам или брать значение из определённого источника)

#### Результат обработки:

Обзор данных по разным типам кредитов

In [ ]:
#
#                         1 ист       2 ист        3 ист      4 ист
#========================================================================================================
# Отсутствуют
#--------------------------------------------------------------------------------------------------------
# CREDIT_FACILITY            +          +            +                                 
# AMT_ANNUITY                           +       
# AMT_CREDIT_MAX_OVERDUE     +          +            + 
# AMT_CREDIT_SUM_LIMIT                               +                        
#                                                                                                         
#
#
# Равны нулю
#--------------------------------------------------------------------------------------------------------
# CREDIT_DELAY5                         +            +                                   
# CREDIT_DELAY60                        +                                               
# CREDIT_DELAY90                        +            +                                   
#                                                                                                         
#
#
# Равны 1
#--------------------------------------------------------------------------------------------------------
# CREDIT_SUM_TYPE           +            +           +                                                                                                                                           
#
#
#
# Имеют превышение / максимумы по выборке
#--------------------------------------------------------------------------------------------------------
# CREDIT_DAY_OVERDUE        +                                                                                    
# CREDIT_DELAY_MORE                                  +           +                                                                       
#
#
# Имеют минимумы по выборке
#--------------------------------------------------------------------------------------------------------
# AMT_REQ_SOURCE_YEAR                   +                                                                                     
#                                                                                                         
#
#
# Типы кредитов
#--------------------------------------------------------------------------------------------------------
#                 [5, 4, 1, 3]    [5, 4]    [5, 6, 4, 3, 1, 19]    [5, 4, 3, 1, 18]
#

In [17]:
data_step01 = pd.DataFrame()
data_step1 = pd.DataFrame()
IDs = data.ID.unique()


def quant(ct):
    return sub_data[sub_data['CREDIT_TYPE'] == ct]['CREDIT_TYPE'].value_counts()  # = Series, считаем количество строк по кредиту каждого типа 

nat = np.datetime64('NaT')
def nat_check(nat):
    return nat == np.datetime64('NaT')

In [14]:


def quant(ct):
    return sub_data[sub_data['CREDIT_TYPE'] == ct]['CREDIT_TYPE'].value_counts()  # = Series, считаем количество строк по кредиту каждого типа 

for d in IDs:
    un_CTs = []
    sub_data = data[data['ID'] == d]
    sub_data = sub_data.sort_values(['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE'], ascending=[True, True, True])
    un_CTs = sub_data.CREDIT_TYPE.unique()
    
    for ct in un_CTs:
        if quant(ct).values[0] > 1: 
            sub_data['DTIME_CREDIT_diff'] = sub_data['DTIME_CREDIT'].diff(1) # добавили колонку с дифференсом
            sub_data = sub_data.loc[sub_data['DTIME_CREDIT_diff'].groupby(sub_data['DTIME_CREDIT']).idxmax()]
            data_step1.append(sub_data)
    
print IDs, un_CTs, data_step1

IndexError: index 0 is out of bounds for axis 0 with size 0

In [23]:
d = random.sample(IDs, 1)
              # берём любой ID
un_CTs = []
              # очищаем список уникальных типов кредитов
sub_data = data[data['ID'] == d] #  субDF - это данные по выбранному ID
sub_data = sub_data.sort_values(['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE'], ascending=[True, True, True]) 
              # здесь сортировка возможно была не нужна
              # сортируем субDF по дате кредита, типу кредита и источнику 
              # - получаем блоки, каждый из которых относится к оределённому типу кредита и есть сортировка по номеру источника 
un_CTs = sub_data.CREDIT_TYPE.unique()
              # собираем уникальные типы кредитов этого ID

print un_CTs 
              # возможно, проблема в том, что после работы пр одному ct sub_data меняется
              # и уже не содержит тех данных, к которым мы обрааемся при работе со следующим ct
    
for ct in un_CTs:
              # для каждого типа кредита этого человека
              # Т.е. предполагаем, что разные кредиты - те, у которых большая разница по датам открытия
              # - даже если один тип кредита)
    data_step01 = pd.DataFrame()
    sub_data_m = pd.DataFrame()
    sub_data_1 = pd.DataFrame()
    ct_lines = quant(ct).values[0]
    print ct, ct_lines
    print sub_data[['CREDIT_TYPE', 'NUM_SOURCE','DTIME_CREDIT']], len(sub_data)
    if ct_lines == 1:
        sub_data_1 = sub_data[sub_data['CREDIT_TYPE'] == ct] 
        data_step01 = data_step01.append(sub_data_1)
        #print data_step01[['CREDIT_TYPE', 'NUM_SOURCE','DTIME_CREDIT']]
    else:
        #print ct_lines
        sub_data_m = sub_data[sub_data['CREDIT_TYPE'] == ct] 
        sub_data_m = sub_data_m.sort_values(['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE'], ascending=[True, True, True])
        sub_data_m['DTIME_CREDIT_diff'] = sub_data_m['DTIME_CREDIT'].diff(1) 
        
        print sub_data_m[['CREDIT_TYPE', 'NUM_SOURCE','DTIME_CREDIT', 'DTIME_CREDIT_diff']]
        sub_data_m = sub_data_m.reset_index(drop=True,inplace=False)
        sub_data_m
        new_index = range(0,len(sub_data_m))
        sub_data_m = sub_data_m.reindex(new_index)
        
        print sub_data_m['DTIME_CREDIT_diff'][0], len(sub_data_m)
        
        if nat_check(nat) == True and sub_data_m['DTIME_CREDIT_diff'][1] != sub_data_m['DTIME_CREDIT_diff'][0]:
            data_step01 = data_step01.append(sub_data_m)
        else:
            sub_data_m = sub_data_m.loc[sub_data_m['DTIME_CREDIT_diff'].groupby(sub_data_m['DTIME_CREDIT']).idxmax()]
            print sub_data_m[['CREDIT_TYPE', 'NUM_SOURCE','DTIME_CREDIT', 'DTIME_CREDIT_diff']]
            sub_data_m.drop('DTIME_CREDIT_diff', axis = 1, inplace = True)
            data_step01 = data_step01.append(sub_data_m)
            print len(sub_data), len(data_step01)
            
        #if sub_data_m['DTIME_CREDIT_diff'][0] == 'NaT' & sub_data_m['DTIME_CREDIT_diff'][1]:
        #    data_step01 = data_step01.append(sub_data_m)
        #else:
        #    sub_data_m = sub_data_m.loc[sub_data_m['DTIME_CREDIT_diff'].groupby(sub_data_m['DTIME_CREDIT']).idxmax()]
        #    print sub_data_m[['CREDIT_TYPE', 'NUM_SOURCE','DTIME_CREDIT', 'DTIME_CREDIT_diff']]
        #    sub_data_m.drop('DTIME_CREDIT_diff', axis = 1, inplace = True)
        #    data_step01 = data_step01.append(sub_data_m)
                
        print data_step01[['CREDIT_TYPE', 'NUM_SOURCE','DTIME_CREDIT']]
      
        
        
    #    sub_data_m.drop('DTIME_CREDIT_diff', axis = 1, inplace = True)
    #    data_step01 = data_step01.append(sub_data_m)
         
# забыла сортировку - возможно поэтому выскаиквал NaN   - всё равно получаются NaN в првой строке     
# ===> если на первой строке едиснтвенный источник и единственная дата (значит нужна ещё одна проверка)
# если одна строка - и дифференси следующего ряда <=2, то норм

# нельзя просто отдельно вытаскивать первую строчку и аппендить её к DF,
# потому что может быть случай, что сследующие строки про тот же кредит

# нельзя сказать, что ВСЕГДА всем признака присваивается NaN если по диференсу идёт NaT

#[5 4]
#5 14
#14
#     CREDIT_TYPE  NUM_SOURCE DTIME_CREDIT  DTIME_CREDIT_diff
#476            5           1   2007-04-19                NaT
#479            5           2   2008-10-14           544 days
#486            5           2   2010-03-24           526 days
#477            5           1   2011-01-19           301 days
#...
#      CREDIT_TYPE  NUM_SOURCE DTIME_CREDIT  DTIME_CREDIT_diff
#NaN           NaN         NaN          NaT                NaT
# 479            5           2   2008-10-14           544 days
# 486            5           2   2010-03-24           526 days
#...
       
    
    
    
    #print data_step01
    # добавляем к sub_data столбец 'DTIME_CREDIT_diff', который содержит дифференсы

[5]
5 12
      CREDIT_TYPE  NUM_SOURCE DTIME_CREDIT
1314            5           3   2008-08-19
1319            5           4   2008-08-19
1312            5           3   2009-10-12
1322            5           1   2011-11-25
1315            5           3   2011-11-26
1318            5           4   2011-11-26
1313            5           1   2012-04-25
1317            5           1   2012-12-17
1320            5           3   2012-12-17
1323            5           4   2012-12-17
1316            5           1   2013-09-24
1321            5           1   2014-09-27 12

AttributeError: 'Series' object has no attribute 'total_seconds'

In [84]:

un_CTs = []
                # очищаем список уникальных типов кредитов
sub_data = data[data['ID'] == d] #  субDF - это данные по выбранному ID
sub_data = sub_data.sort_values(['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE'], ascending=[True, True, True]) 
                # здесь сортировка возможно была не нужна
                # сортируем субDF по дате кредита, типу кредита и источнику 
                # - получаем блоки, каждый из которых относится к оределённому типу кредита и есть сортировка по номеру источника 
            
un_CTs = sub_data.CREDIT_TYPE.unique()
               # собираем уникальные типы кредитов этого ID

print un_CTs 
                # выводим список уникальных типов кредитов по ID           
    
for ct in un_CTs:
                # для каждого типа кредита этого человека
                # Т.е. предполагаем, что разные кредиты - те, у которых большая разница по датам открытия
                # - даже если один тип кредита)
    data_step01 = pd.DataFrame()
    sub_data_m = pd.DataFrame()
    sub_data_1 = pd.DataFrame()
    ct_lines = quant(ct).values[0]
                # задаём нулевые DF для работы
        
    print ct, ct_lines
                # по выбранному выше типу кредитов вывести его тип и количество линий 
    print sub_data[['CREDIT_TYPE', 'NUM_SOURCE','DTIME_CREDIT']]
                # печатаем DF по ID (просто посмотреть)    
        
    if ct_lines == 1:
        sub_data_1 = sub_data
        data_step01 = data_step01.append(sub_data_1)
                # если количество линий по кредиту = 1, то просто заносим эту линию в итоговый DF по ID   
                # то есть бессмысленно вычислять дифференс             
        #print data_step01[['CREDIT_TYPE', 'NUM_SOURCE','DTIME_CREDIT']]
        
    else:
                # иначе: создаём вспомогательный DF (м.б. его можно было не создавать)
        sub_data_m = sub_data
        sub_data_m = sub_data_m.sort_values(['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE'], ascending=[True, True, True])
                # сортируем его (чтобы корректно вычислять дифференс)
        sub_data_m['DTIME_CREDIT_diff'] = sub_data_m['DTIME_CREDIT'].diff(1) 
                # добавлем колонку с вычисленным дифференсом        
        print sub_data_m[['CREDIT_TYPE', 'NUM_SOURCE','DTIME_CREDIT', 'DTIME_CREDIT_diff']]
                # смотрим на все линии с их дифференсами 
        sub_data_m = sub_data_m.reset_index(drop=True,inplace=False)
        sub_data_m
                # смотрим на DF с обнуленными индексами                
        new_index = range(0,len(sub_data_m))
        sub_data_m = sub_data_m.reindex(new_index)
                # назначаем новые индексы (чтобы можно было работать с первыми двумя строчками)
        #print sub_data_m['DTIME_CREDIT_diff'][0]
                        
        if nat_check(nat) == True and sub_data_m['DTIME_CREDIT_diff'][1] != sub_data_m['DTIME_CREDIT_diff'][0]:
            data_step01 = data_step01.append(sub_data_m)
                # если в верней строчке есть NaT (Дифференс не определён)
                # и при этом это едиственная строчка по данному кредиту и с этой датой
                # => просто включаем эту строчку в итоговый DF по ID 
        else:
            sub_data_m = sub_data_m.loc[sub_data_m['DTIME_CREDIT_diff'].groupby(sub_data_m['DTIME_CREDIT']).idxmax()]
            print sub_data_m[['CREDIT_TYPE', 'NUM_SOURCE','DTIME_CREDIT', 'DTIME_CREDIT_diff']]
            sub_data_m.drop('DTIME_CREDIT_diff', axis = 1, inplace = True)
            data_step01 = data_step01.append(sub_data_m)
                # иначе: выводим строки, по которым максимальный дифференс, вычеркиваем столбец с дифференсом
                # и добавляем в итоговый DF по ID 
                
        print data_step01[['CREDIT_TYPE', 'NUM_SOURCE','DTIME_CREDIT']]
                # смотрим на итоговый DF по ID

[5 4]
5 8
      CREDIT_TYPE  NUM_SOURCE DTIME_CREDIT
1086            5           1   2007-01-12
1084            5           3   2007-04-06
1082            5           2   2007-07-23
1088            5           1   2008-11-24
1089            5           1   2008-11-24
1083            5           1   2009-01-12
1079            4           1   2013-12-30
1090            4           3   2013-12-30
1087            4           4   2013-12-30
1081            4           3   2014-02-07
1085            5           3   2014-02-07
1080            5           3   2015-02-22
      CREDIT_TYPE  NUM_SOURCE DTIME_CREDIT  DTIME_CREDIT_diff
1086            5           1   2007-01-12                NaT
1084            5           3   2007-04-06            84 days
1082            5           2   2007-07-23           108 days
1088            5           1   2008-11-24           490 days
1089            5           1   2008-11-24             0 days
1083            5           1   2009-01-12            49 days
1079            4           1   2013-12-30          1813 days
1090            4           3   2013-12-30             0 days
1087            4           4   2013-12-30             0 days
1081            4           3   2014-02-07            39 days
1085            5           3   2014-02-07             0 days
1080            5           3   2015-02-22           380 days
NaT
    CREDIT_TYPE  NUM_SOURCE DTIME_CREDIT
0             5           1   2007-01-12
1             5           3   2007-04-06
2             5           2   2007-07-23
3             5           1   2008-11-24
4             5           1   2008-11-24
5             5           1   2009-01-12
6             4           1   2013-12-30
7             4           3   2013-12-30
8             4           4   2013-12-30
9             4           3   2014-02-07
10            5           3   2014-02-07
11            5           3   2015-02-22
4 4
      CREDIT_TYPE  NUM_SOURCE DTIME_CREDIT
1086            5           1   2007-01-12
1084            5           3   2007-04-06
1082            5           2   2007-07-23
1088            5           1   2008-11-24
1089            5           1   2008-11-24
1083            5           1   2009-01-12
1079            4           1   2013-12-30
1090            4           3   2013-12-30
1087            4           4   2013-12-30
1081            4           3   2014-02-07
1085            5           3   2014-02-07
1080            5           3   2015-02-22
      CREDIT_TYPE  NUM_SOURCE DTIME_CREDIT  DTIME_CREDIT_diff
1086            5           1   2007-01-12                NaT
1084            5           3   2007-04-06            84 days
1082            5           2   2007-07-23           108 days
1088            5           1   2008-11-24           490 days
1089            5           1   2008-11-24             0 days
1083            5           1   2009-01-12            49 days
1079            4           1   2013-12-30          1813 days
1090            4           3   2013-12-30             0 days
1087            4           4   2013-12-30             0 days
1081            4           3   2014-02-07            39 days
1085            5           3   2014-02-07             0 days
1080            5           3   2015-02-22           380 days
NaT
    CREDIT_TYPE  NUM_SOURCE DTIME_CREDIT
0             5           1   2007-01-12
1             5           3   2007-04-06
2             5           2   2007-07-23
3             5           1   2008-11-24
4             5           1   2008-11-24
5             5           1   2009-01-12
6             4           1   2013-12-30
7             4           3   2013-12-30
8             4           4   2013-12-30
9             4           3   2014-02-07
10            5           3   2014-02-07
11            5           3   2015-02-22

In [60]:
sub_data = data[data['ID'] == d] 
un_CTs = sub_data.CREDIT_TYPE.unique()

sub_data=sub_data.sort_values(['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE'], ascending=[True, True, True])
sub_data[['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE']]

    DTIME_CREDIT  CREDIT_TYPE  NUM_SOURCE
687   2010-06-26            5           1
686   2012-03-16            5           1
682   2012-09-24            4           1
683   2014-11-10            4           1
685   2014-11-10            4           3
684   2014-11-10            4           4

In [74]:
nat = np.datetime64('NaT')
def nat_check(nat):
    return nat == np.datetime64('NaT')

In [75]:
nat_check(nat)

True

In [77]:
#d = random.sample(IDs, 1)
sub_data = data[data['ID'] == d] 
un_CTs = sub_data.CREDIT_TYPE.unique()
  

for ct in un_CTs:
    data_step01 = pd.DataFrame()
    sub_data_m = pd.DataFrame()
    sub_data_1 = pd.DataFrame()
    ct_lines = quant(ct).values[0]
    #print ct, ct_lines
    #print sub_data[['CREDIT_TYPE', 'NUM_SOURCE','DTIME_CREDIT']]
    if ct_lines == 1:
        sub_data_1 = sub_data
        data_step01 = data_step01.append(sub_data_1)
        #print data_step01[['CREDIT_TYPE', 'NUM_SOURCE','DTIME_CREDIT']]
    else:  # на тесте 
        #print ct_lines
        sub_data_m = sub_data
        sub_data_m = sub_data_m.sort_values(['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE'], ascending=[True, True, True])
        sub_data_m['DTIME_CREDIT_diff'] = sub_data_m['DTIME_CREDIT'].diff(1) 
        
        print sub_data_m[['CREDIT_TYPE', 'NUM_SOURCE','DTIME_CREDIT', 'DTIME_CREDIT_diff']]
        
        sub_data_m = sub_data_m.reset_index(drop=True,inplace=False)
        #sub_data_m
        
        new_index = range(0,len(sub_data_m))
        sub_data_m = sub_data_m.reindex(new_index)
        print sub_data_m['DTIME_CREDIT_diff'][0]
        if nat_check(nat) == True:
        #if sub_data_m['DTIME_CREDIT_diff'][0] = np.datetime64('NaT'):
            print 'rrrrr'

        
        
        #if sub_data_m['DTIME_CREDIT_diff'][0] > 0: # как задать проверку, есть ли там NaT (== И = не работают)
        #    print sub_data_m['DTIME_CREDIT_diff'][0]
        
        #sub_data_m['DTIME_CREDIT_diff'][0] # Series
        #if sub_data_m.iloc[[0]]['DTIME_CREDIT_diff'] == 'NaT':
        #    data_step01 = data_step01.append(sub_data_m)
        #else:
        #    sub_data_m = sub_data_m.loc[sub_data_m['DTIME_CREDIT_diff'].groupby(sub_data_m['DTIME_CREDIT']).idxmax()]
        #    print sub_data_m[['CREDIT_TYPE', 'NUM_SOURCE','DTIME_CREDIT', 'DTIME_CREDIT_diff']]
        #    sub_data_m.drop('DTIME_CREDIT_diff', axis = 1, inplace = True)
        #    data_step01 = data_step01.append(sub_data_m)
                
        #print data_step01

     CREDIT_TYPE  NUM_SOURCE DTIME_CREDIT  DTIME_CREDIT_diff
687            5           1   2010-06-26                NaT
686            5           1   2012-03-16           629 days
682            4           1   2012-09-24           192 days
683            4           1   2014-11-10           777 days
685            4           3   2014-11-10             0 days
684            4           4   2014-11-10             0 days
NaT
rrrrr
     CREDIT_TYPE  NUM_SOURCE DTIME_CREDIT  DTIME_CREDIT_diff
687            5           1   2010-06-26                NaT
686            5           1   2012-03-16           629 days
682            4           1   2012-09-24           192 days
683            4           1   2014-11-10           777 days
685            4           3   2014-11-10             0 days
684            4           4   2014-11-10             0 days
NaT
rrrrr

In [18]:
print ct_lines
sub_data_m = sub_data
sub_data_m = sub_data_m.sort_values(['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE'], ascending=[True, True, True])
sub_data_m['DTIME_CREDIT_diff'] = sub_data_m['DTIME_CREDIT'].diff(1) 
print sub_data_m[['CREDIT_TYPE', 'NUM_SOURCE','DTIME_CREDIT', 'DTIME_CREDIT_diff']]
sub_data_m = sub_data_m.reset_index(drop=True,inplace=False)
sub_data_m

2
     CREDIT_TYPE  NUM_SOURCE DTIME_CREDIT  DTIME_CREDIT_diff
892            5           1   2006-01-08                NaT
898            4           3   2010-11-19          1776 days
894            4           4   2010-11-19             0 days
899            4           1   2014-01-24          1162 days
895            5           1   2014-08-10           198 days
897            4           1   2015-01-27           170 days
896            4           3   2015-01-27             0 days
893            4           4   2015-01-27             0 days

,ID,SK_DATE_DECISION,DEF,NUM_SOURCE,CREDIT_ACTIVE,CREDIT_COLLATERAL,CREDIT_CURRENCY,DTIME_CREDIT,CREDIT_DAY_OVERDUE,DTIME_CREDIT_ENDDATE,...,CREDIT_DELAY_MORE,AMT_REQ_SOURCE_HOUR,AMT_REQ_SOURCE_DAY,AMT_REQ_SOURCE_WEEK,AMT_REQ_SOURCE_MON,AMT_REQ_SOURCE_QRT,AMT_REQ_SOURCE_YEAR,AMT_ANNUITY,TEXT_PAYMENT_DISCIPLINE,DTIME_CREDIT_diff
0,27110,20150904,0,1,0,0,rur,2006-01-08,0,2008-01-02,...,0,0,0,0,0,0,5,0.00,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,NaT
1,27110,20150904,0,3,1,0,rur,2010-11-19,0,2040-11-19,...,0,0,0,0,0,0,5,247.00,X000000000000000000000000000000000000000000000...,1776 days
2,27110,20150904,0,4,1,0,rur,2010-11-19,0,2040-11-19,...,0,0,0,0,0,0,5,247.00,X000000000000000000000000000000000000000000000...,0 days
3,27110,20150904,0,1,0,0,rur,2014-01-24,0,2044-07-03,...,0,0,0,0,0,0,5,NaN,CCCCCCCC00000000000XX,1162 days
4,27110,20150904,0,1,1,0,rur,2014-08-10,0,2016-08-04,...,0,0,0,0,0,0,5,3589.00,X000000010X0,198 days
5,27110,20150904,0,1,1,0,rur,2015-01-27,0,2019-12-31,...,0,0,0,0,0,0,5,8741.00,X0000000X,170 days
6,27110,20150904,0,3,1,0,rur,2015-01-27,0,2019-12-30,...,0,0,0,0,0,0,5,3996.00,XX000000X,0 days
7,27110,20150904,0,4,1,0,rur,2015-01-27,0,NaT,...,0,0,0,0,0,0,5,8740.96,X0000000X,0 days

In [100]:
for ct in un_CTs:
    if quant(ct).values[0] > 1: 
        sub_data['DTIME_CREDIT_diff'] = sub_data['DTIME_CREDIT'].diff(1) # добавили колонку с дифференсом
        sub_data = sub_data.loc[sub_data['DTIME_CREDIT_diff'].groupby(sub_data['DTIME_CREDIT']).idxmax()]
        data_step1 = data_step1.append(sub_data)
        print sub_data
    
print data_step1

Empty DataFrame
Columns: []
Index: []

In [101]:
for ct in un_CTs:
        if quant(ct).values[0] > 1:
            #print quant(ct).values[0]
            sub_data['DTIME_CREDIT_diff'] = sub_data['DTIME_CREDIT'].diff(1) # добавили колонку с дифференсом
            sub_data = sub_data.loc[sub_data['DTIME_CREDIT_diff'].groupby(sub_data['DTIME_CREDIT']).idxmax()]
            data_step1.append(sub_data)
            print data_step1
        else: 
            sub_data = sub_data[sub_data['CREDIT_TYPE'] == ct]
            data_step1.append(sub_data)

In [21]:
data_step1

Empty DataFrame
Columns: []
Index: []

In [ ]:
IDs = data.ID.unique()

def quant(ct):
    return sub_data[sub_data['CREDIT_TYPE'] == ct]['CREDIT_TYPE'].value_counts()  # = Series, считаем количество строк по кредиту каждого типа 

for d in IDs:
    sub_data = data[data['ID'] == d]
    #Cts = sub_data.CREDIT_TYPE.unique() # собрали типы кредитов по ID
    sub_data = sub_data.sort_values(['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE'], ascending=[True, True, True])
    un_CTs = sub_data.CREDIT_TYPE.unique()
    for ct in un_CTs:
        if quant(ct).values[0] > 1:
            #print quant(ct).values[0]
            sub_data['DTIME_CREDIT_diff'] = sub_data['DTIME_CREDIT'].diff(1) # добавили колонку с дифференсом
            sub_data = sub_data.loc[sub_data['DTIME_CREDIT_diff'].groupby(sub_data['DTIME_CREDIT']).idxmax()]
            data_step1.append(sub_data)
        else: 
            sub_data = sub_data[sub_data['CREDIT_TYPE'] == ct]
        sub_data.drop(sub_data.columns, axis =1)
        #sub_data.drop(sub_data.iloc[0:0])
        # отобрали с максимумом по дифференсам
        #print ct #, quant(ct).values[0] #, len(un_CTs), len(IDs) 
        #if quant(ct).values[0] > 1:
        #    print quant(ct).values[0]
        #    sub_data['DTIME_CREDIT_diff'] = sub_data['DTIME_CREDIT'].diff(1)
        #    sub_data = sub_data.loc[sub_data['DTIME_CREDIT_diff'].groupby(sub_data['DTIME_CREDIT']).idxmax()]
        #else:
        #    sub_data = sub_data[sub_data['CREDIT_TYPE'] == ct]
        #    data_step1.append(sub_data)
    break 

    #data_step1.head()    
    
# дифференс не работает по отношению к другим типам данных (только к datetime)
# изучить, можно ли использовать другие типы данных, чтобы вычислять дифференс

In [ ]:
# общий код
import random

IDs = data.ID.unique()
Cts = data.CREDIT_TYPE.unique()


d = random.sample(IDs, 1)

sub_data = data[data['ID'] == d]
sub_data = sub_data.sort_values(['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE'], ascending=[True, True, True])
un_CTs = sub_data.CREDIT_TYPE.unique()

print sub_data[['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE']]

def quant(ct):
    return sub_data[sub_data['CREDIT_TYPE'] == ct]['CREDIT_TYPE'].value_counts()  # = Series

for ct in un_CTs:
    if quant(ct).values[0] > 1:
        
        print "Тип кредита, количество строк", "\n", ct, "\t\t\t", quant(ct).values[0]
    else:
        print "Тип кредита (1), количество строк", "\n", ct, "\t\t\t", quant(ct).values[0]

!!! **Из внимания ускользают случаи, когда в одну дату берут два типа кредита - а алгоитм не воспринимает их как разные кредиты?  ---- это происходит на этапе, когда выбирается макс при группировке

значит надо проверять равны ли строки по типу кредита - и использовать этот принцип отбора только если не равны **

In [ ]:
        
sub_data['DTIME_CREDIT_diff'] = sub_data['DTIME_CREDIT'].diff(1)

# смотрим на дифференс дат
print sub_data['DTIME_CREDIT_diff']

# (опция - не удалять - профит непонятен) удаляем прежние индексы, сохраняем в DF только ненулевые = масимальные (по дифференсу дат) строки
#sub_data = sub_data.reset_index(drop=True,inplace=False)
sub_data = sub_data.loc[sub_data['DTIME_CREDIT_diff'].groupby(sub_data['DTIME_CREDIT']).idxmax()]


sub_data.groupby(sub_data['DTIME_CREDIT'])[['AMT_CREDIT_SUM', 'CREDIT_TYPE']].agg([np.mean, np.std, np.min, np.max])

****

Определяем количество уникальных пользователей и типов кредитов у них

In [ ]:
IDs = data.ID.unique()
print "ID.unique :", len(IDs) # count uniques of ID

Cts = data.CREDIT_TYPE.unique()
print "CREDIT_TYPE.unique :", len(Cts)

* Из всех ID вытаскиваем 1 случайный 
* Создаём суб-DF по этому ID,
* сортируем его, чтобы было удобнее работать в дальнейшем,
* формируем список уникальных типов кредитов этого человека

* Смотрим на данные по этому sDF (ознакомительно + чтобы потом проверять отработку функций)

In [ ]:
import random
d = random.sample(IDs, 1)

sub_data = data[data['ID'] == d]
sub_data = sub_data.sort_values(['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE'], ascending=[True, True, True])
un_CTs = sub_data.CREDIT_TYPE.unique()

print "Выбраный ID", d, "\n\n"

print "Количество строк под id: ", len(sub_data), "\n\n", "Все типы кредитов:", un_CTs, "\n\n"
print "Все даты и типы кредитов, разница дат:", "\n", sub_data[['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE']], "\n\n",

In [ ]:
#print sub_data[date_cols].diff(1)

Считаем количество строк по каждому типу кредитов (важно для расчёта дифференса по датам)

In [ ]:
def quant(ct):
    return sub_data[sub_data['CREDIT_TYPE'] == ct]['CREDIT_TYPE'].value_counts()  # = Series

for ct in un_CTs:
    if quant(ct).values[0] > 1:
        print "Тип кредита, количество строк", "\n", ct, "\t\t\t", quant(ct).values[0]
    else:
        print "Тип кредита (1), количество строк", "\n", ct, "\t\t\t", quant(ct).values[0]

Считаем разницу по датам взятия разных кредитов и добавляем её в новый столбец sDF ('DTIME_CREDIT_diff') и оставляем в sDF только те, по которым дифференсы максимальные.
Т.о. в выборку не попадают строки, у которых разница дат небольшая (например, 1-2 дня, что может быть вызвано лагом обновления источника данных)

!! **Есть проблема с верхней \ нижней срочкой. Можно ли их потом удалять как na? (NaT) -- не потеряем ли важную инормацию**

In [ ]:
sub_data['DTIME_CREDIT_diff'] = sub_data['DTIME_CREDIT'].diff(1)

# смотрим на дифференс дат
print sub_data['DTIME_CREDIT_diff']

# (опция - не удалять - профит непонятен) удаляем прежние индексы, сохраняем в DF только ненулевые = масимальные (по дифференсу дат) строки
#sub_data = sub_data.reset_index(drop=True,inplace=False)
sub_data = sub_data.loc[sub_data['DTIME_CREDIT_diff'].groupby(sub_data['DTIME_CREDIT']).idxmax()]
sub_data

Сохраняем только строки с максимальным дифференсом

****

###  Черновик работы над Проблемой 2 и код

#### Смотрим на количество обращений к каждому из источников

In [ ]:
columns_to_show = ['AMT_REQ_SOURCE_DAY', 'AMT_REQ_SOURCE_WEEK',
                   'AMT_REQ_SOURCE_MON', 'AMT_REQ_SOURCE_QRT',
                   'AMT_REQ_SOURCE_YEAR']

data.groupby(['NUM_SOURCE'])[columns_to_show].agg([np.mean, np.std, np.min, np.max])

#### Смотрим на данные про заявки, которые поставляет источник

In [ ]:
# columns пришлось разбить на две части чтобы всё видеть (иначе средние колонки скрывались)

columns_to_show1 = ['CREDIT_ACTIVE', 'CREDIT_DAY_OVERDUE', 
                    'CREDIT_FACILITY', 'AMT_ANNUITY', 'CREDIT_SUM_TYPE']

data.groupby(['NUM_SOURCE'])[columns_to_show1].agg([np.mean, np.std, np.min, np.max])

In [ ]:
columns_to_show = ['CREDIT_DELAY30', 'CREDIT_DELAY5', 'CREDIT_DELAY60', 'CREDIT_DELAY90', 'CREDIT_DELAY_MORE']

data.groupby(['NUM_SOURCE'])[columns_to_show].agg([np.mean, np.std, np.min, np.max])

In [ ]:
data.groupby(['NUM_SOURCE'])['CREDIT_TYPE'].unique()

In [ ]:
#
#                         1 ист       2 ист        3 ист      4 ист
#========================================================================================================
# Отсутствуют
#--------------------------------------------------------------------------------------------------------
# CREDIT_FACILITY            +          +            +                                 
# AMT_ANNUITY                           +       
# AMT_CREDIT_MAX_OVERDUE     +          +            + 
# AMT_CREDIT_SUM_LIMIT                               +                        
#                                                                                                         
#
#
# Равны нулю
#--------------------------------------------------------------------------------------------------------
# CREDIT_DELAY5                         +            +                                   
# CREDIT_DELAY60                        +                                               
# CREDIT_DELAY90                        +            +                                   
#                                                                                                         
#
#
# Равны 1
#--------------------------------------------------------------------------------------------------------
# CREDIT_SUM_TYPE           +            +           +                                                                                                                                           
#
#
#
# Имеют превышение / максимумы по выборке
#--------------------------------------------------------------------------------------------------------
# CREDIT_DAY_OVERDUE        +                                                                                    
# CREDIT_DELAY_MORE                                  +           +                                                                       
#
#
# Имеют минимумы по выборке
#--------------------------------------------------------------------------------------------------------
# AMT_REQ_SOURCE_YEAR                   +                                                                                     
#                                                                                                         
#
#
# Типы кредитов
#--------------------------------------------------------------------------------------------------------
#                 [5, 4, 1, 3]    [5, 4]    [5, 6, 4, 3, 1, 19]    [5, 4, 3, 1, 18]
#

<font color='blue'> **Выводы**: <div>
 
   -  2 источник выбивается слишком часто, к нему обращаются реже чем к другим, и он имеет информацию только по 4 и 5 типам кредитов (возможно, от него можно отказаться)<div>
   -  'CREDIT_FACILITY' - характеристика только из 4 источника (значит точно можно отказаться)<div>
   -  Остальные различия указаны в таблице - ничего специфичного </font>

In [ ]:
columns_to_show2 = ['AMT_CREDIT_MAX_OVERDUE',
                    'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT',
                    'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE']

data.groupby(['NUM_SOURCE'])[columns_to_show2].agg([np.mean, np.std, np.min, np.max])

<font color='blue'>*Вывод:*<div>
    
    - *2_источник выбивается по величине кредита (и у него кстати другие типы кредитов)*<div>
    - *! Совмещая эту информацию с тем, что к этому источнику обращаются реже - очевидно. отому что в нём информация только по 4 и 5 типам кредитования* <div> </font>

#### Детализируем анализ по 2 проблеме

По всем данным (по всем типам кредитов) совместно разичия между полезностью источников неочевидны. Возможно, если посмотреть по каждому из признаков - это даст полезную информацию  
****
Вообще, надо посмотреть различия в данных по каждому из клиентов и по каждому из его типов кредитов

*Как выбрать значения?*
* Разделить на панели (по id, например) и далее внутри каждой панели брать данные из одного источника и по одной дате и проводить сравнения -  https://stackoverflow.com/questions/43077258/python-pandas-compare-values-of-two-dataframes-with-different-columns-names-by
* Можно внутри каждой панели сортирнуть по типу кредита и дате (в sort передать два признака) и внутри каждой сортировки взять максимум по какому-то полю https://stackoverflow.com/questions/45018396/how-to-compare-rows-in-a-dataframe-in-pandas
* Что если оставить максимум по полю DTIME_CREDIT_UPDATE (по каждому типу кредита и по каждому источнику)?

In [ ]:
data.ID.describe() # почему-то не считает уникальные

**Надо**:

* по ID
* по дате (+/- 1дн)
* по типу кредита 

   * **Вытащить информацию из каждого источника в соответствии с максимальной наполненнотью по каждому признаку** <div>
   * **И брать, например, максимумы и наиболее "плохие" показатели**

Дополнительные парамеры:
* открыт или закрыт кредит (по нему тоже можно добавить вариацию)

In [63]:
IDs = data.ID.unique()
print "ID.unique :", len(IDs) # count uniques of ID

Cts = data.CREDIT_TYPE.unique()
print "CREDIT_TYPE.unique :", len(Cts)

ID.unique : 135
CREDIT_TYPE.unique : 7

In [64]:
import random
d = random.sample(IDs, 1)
print d

[123495]

In [65]:
# Задаём суб-датасет
sub_data = data[data['ID'] == d]
sub_data = sub_data.sort_values(['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE'], ascending=[True, True, True])
un_CTs = sub_data.CREDIT_TYPE.unique()

In [66]:
# смотрим данные по нему

print "Количество строк под id: ", len(sub_data), "\n\n", "Все типы кредитов:", un_CTs, "\n\n"
print "Все даты и типы кредитов, разница дат:", "\n", sub_data[['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE']], "\n\n", 

print sub_data[date_cols].diff(1)

Количество строк под id:  17

Все типы кредитов: [4 5]


Все даты и типы кредитов, разница дат:
    DTIME_CREDIT  CREDIT_TYPE  NUM_SOURCE
329   2006-11-16            4           3
340   2006-11-16            4           4
342   2009-03-10            5           2
331   2010-06-08            5           2
333   2011-02-02            5           2
341   2011-10-20            5           3
328   2011-10-20            5           4
337   2011-10-25            5           3
332   2011-10-25            5           4
338   2012-02-29            5           3
330   2012-02-29            5           4
336   2012-09-17            5           3
343   2012-09-17            5           4
339   2013-12-12            5           3
344   2013-12-12            5           4
334   2015-11-27            5           3
335   2015-11-27            5           4

     DTIME_CREDIT  DTIME_CREDIT_ENDDATE    DTIME_CREDIT_ENDDATE_FACT  \
329           NaT                   NaT                          NaT
340        0 days                0 days              0 days 00:00:00
342      845 days           -29160 days -92377 days +00:12:43.145224
331      455 days              458 days            812 days 00:00:00
333      239 days              243 days          -112 days +00:00:00
341      260 days              597 days            893 days 00:00:00
328        0 days                0 days              0 days 00:00:00
337        5 days             -471 days          -379 days +00:00:00
332        0 days                0 days           -92 days +00:00:00
338      127 days               85 days             85 days 00:00:00
330        0 days               -1 days              0 days 00:00:00
336      201 days              355 days            354 days 00:00:00
343        0 days                0 days              0 days 00:00:00
339      451 days              329 days            329 days 00:00:00
344        0 days                0 days              0 days 00:00:00
334      715 days              806 days   90486 days 23:47:16.854775
335        0 days                0 days              0 days 00:00:00

     DTIME_CREDIT_UPDATE
329                  NaT
340               0 days
342           -1261 days
331               0 days
333               0 days
341             511 days
328               0 days
337            -381 days
332               0 days
338              -7 days
330             463 days
336            -109 days
343               0 days
339             329 days
344               0 days
334             455 days
335               0 days

In [67]:
def quant(ct):
    return sub_data[sub_data['CREDIT_TYPE'] == ct]['CREDIT_TYPE'].value_counts()  # = Series

In [ ]:
#for ct in un_CTs:
#    quant = sub_data[sub_data['CREDIT_TYPE'] == ct]['CREDIT_TYPE'].value_counts()
#    print quant# весь дф

In [68]:
for ct in un_CTs:
    if quant(ct).values[0] > 1:
        print "Тип кредита, количество строк", "\n", ct, "\t\t\t", quant(ct).values[0]

Тип кредита, количество строк
4 			2
Тип кредита, количество строк
5 			15

In [69]:
sub_data['DTIME_CREDIT_diff'] = sub_data['DTIME_CREDIT'].diff(1)

sub_data['DTIME_CREDIT_diff']

329        NaT
340     0 days
342   845 days
331   455 days
333   239 days
341   260 days
328     0 days
337     5 days
332     0 days
338   127 days
330     0 days
336   201 days
343     0 days
339   451 days
344     0 days
334   715 days
335     0 days
Name: DTIME_CREDIT_diff, dtype: timedelta64[ns]

In [71]:
sub_data

,ID,SK_DATE_DECISION,DEF,NUM_SOURCE,CREDIT_ACTIVE,CREDIT_COLLATERAL,CREDIT_CURRENCY,DTIME_CREDIT,CREDIT_DAY_OVERDUE,DTIME_CREDIT_ENDDATE,...,CREDIT_DELAY_MORE,AMT_REQ_SOURCE_HOUR,AMT_REQ_SOURCE_DAY,AMT_REQ_SOURCE_WEEK,AMT_REQ_SOURCE_MON,AMT_REQ_SOURCE_QRT,AMT_REQ_SOURCE_YEAR,AMT_ANNUITY,TEXT_PAYMENT_DISCIPLINE,DTIME_CREDIT_diff
1,123495,20151221,0,4,1,0,rur,2006-11-16,0,2090-01-01,...,0,0,0,0,0,0,0,300,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,0 days
2,123495,20151221,0,2,0,0,rur,2009-03-10,0,2010-03-02,...,0,0,0,0,0,0,0,NaN,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,845 days
3,123495,20151221,0,2,0,0,rur,2010-06-08,0,2011-06-03,...,0,0,0,0,0,0,0,NaN,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,455 days
4,123495,20151221,0,2,0,0,rur,2011-02-02,0,2012-02-01,...,0,0,0,0,0,0,0,NaN,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,239 days
5,123495,20151221,0,3,0,0,rur,2011-10-20,0,2013-09-20,...,0,0,0,0,0,0,0,0,CCCCCCCCCCCCCCCCCCCCCCCCCCCC000000000000000000...,260 days
7,123495,20151221,0,3,0,0,rur,2011-10-25,0,2012-06-06,...,0,0,0,0,0,0,0,0,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC000...,5 days
9,123495,20151221,0,3,0,0,rur,2012-02-29,0,2012-08-30,...,0,0,0,0,0,0,0,0,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC0000XX,127 days
11,123495,20151221,0,3,0,0,rur,2012-09-17,0,2013-08-19,...,0,0,0,0,0,0,0,0,CCCCCCCCCCCCCCCCCCCCCCCCCCCCC0X00000000X,201 days
13,123495,20151221,0,3,0,0,rur,2013-12-12,0,2014-07-14,...,0,0,0,0,0,0,0,0,CCCCCCCCCCCCCCCCCC000000X,451 days
15,123495,20151221,0,3,1,0,rur,2015-11-27,0,2016-09-27,...,0,0,0,0,0,0,0,4700,0X,715 days

In [70]:
# удаляем прежние индексы, сохраняем в DF только ненулевые = масимальные (по дифференсу дат) строки
sub_data = sub_data.reset_index(drop=True,inplace=False)
sub_data = sub_data.loc[sub_data['DTIME_CREDIT_diff'].groupby(sub_data['DTIME_CREDIT']).idxmax()]

In [75]:
sub_data

,ID,SK_DATE_DECISION,DEF,NUM_SOURCE,CREDIT_ACTIVE,CREDIT_COLLATERAL,CREDIT_CURRENCY,DTIME_CREDIT,CREDIT_DAY_OVERDUE,DTIME_CREDIT_ENDDATE,...,CREDIT_DELAY_MORE,AMT_REQ_SOURCE_HOUR,AMT_REQ_SOURCE_DAY,AMT_REQ_SOURCE_WEEK,AMT_REQ_SOURCE_MON,AMT_REQ_SOURCE_QRT,AMT_REQ_SOURCE_YEAR,AMT_ANNUITY,TEXT_PAYMENT_DISCIPLINE,DTIME_CREDIT_diff
1,123495,20151221,0,4,1,0,rur,2006-11-16,0,2090-01-01,...,0,0,0,0,0,0,0,300,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,NaT
2,123495,20151221,0,2,0,0,rur,2009-03-10,0,2010-03-02,...,0,0,0,0,0,0,0,NaN,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,NaT
3,123495,20151221,0,2,0,0,rur,2010-06-08,0,2011-06-03,...,0,0,0,0,0,0,0,NaN,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,455 days
4,123495,20151221,0,2,0,0,rur,2011-02-02,0,2012-02-01,...,0,0,0,0,0,0,0,NaN,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,239 days
5,123495,20151221,0,3,0,0,rur,2011-10-20,0,2013-09-20,...,0,0,0,0,0,0,0,0,CCCCCCCCCCCCCCCCCCCCCCCCCCCC000000000000000000...,260 days
7,123495,20151221,0,3,0,0,rur,2011-10-25,0,2012-06-06,...,0,0,0,0,0,0,0,0,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC000...,5 days
9,123495,20151221,0,3,0,0,rur,2012-02-29,0,2012-08-30,...,0,0,0,0,0,0,0,0,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC0000XX,127 days
11,123495,20151221,0,3,0,0,rur,2012-09-17,0,2013-08-19,...,0,0,0,0,0,0,0,0,CCCCCCCCCCCCCCCCCCCCCCCCCCCCC0X00000000X,201 days
13,123495,20151221,0,3,0,0,rur,2013-12-12,0,2014-07-14,...,0,0,0,0,0,0,0,0,CCCCCCCCCCCCCCCCCC000000X,451 days
15,123495,20151221,0,3,1,0,rur,2015-11-27,0,2016-09-27,...,0,0,0,0,0,0,0,4700,0X,715 days

In [72]:
sub_data[numeric_cols].describe()

,CREDIT_DAY_OVERDUE,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_DELAY30,CREDIT_DELAY5,CREDIT_DELAY60,CREDIT_DELAY90,CREDIT_DELAY_MORE,AMT_REQ_SOURCE_HOUR,AMT_REQ_SOURCE_DAY,AMT_REQ_SOURCE_WEEK,AMT_REQ_SOURCE_MON,AMT_REQ_SOURCE_QRT,AMT_REQ_SOURCE_YEAR,AMT_ANNUITY
count,10,1,10.000000,10.000000,10.000000,1.00,10,10.000000,10,10,10,10,10,10,10,10,10,10,7.000000
mean,0,0,0.200000,52962.983000,5387.165000,81221.35,0,0.400000,0,0,0,0,0,0,0,0,0,0,714.285714
std,0,NaN,0.632456,91074.868709,12325.214794,NaN,0,0.966092,0,0,0,0,0,0,0,0,0,0,1761.087326
min,0,0,0.000000,6854.980000,0.000000,81221.35,0,0.000000,0,0,0,0,0,0,0,0,0,0,0.000000
25%,0,0,0.000000,8702.387500,0.000000,81221.35,0,0.000000,0,0,0,0,0,0,0,0,0,0,0.000000
50%,0,0,0.000000,16869.000000,0.000000,81221.35,0,0.000000,0,0,0,0,0,0,0,0,0,0,0.000000
75%,0,0,0.000000,36740.250000,0.000000,81221.35,0,0.000000,0,0,0,0,0,0,0,0,0,0,150.000000
max,0,0,2.000000,300000.000000,37093.000000,81221.35,0,3.000000,0,0,0,0,0,0,0,0,0,0,4700.000000

In [73]:
# Почему-то в разные группы попали строки (по индексу) из одного типа кредита и везде нет данных по дифференсу

for ct in un_CTs:
    if quant(ct).values[0] > 1:
        sub_data['DTIME_CREDIT_diff'] = sub_data[sub_data['CREDIT_TYPE'] == ct]['DTIME_CREDIT'].diff(1)
        #sub_sub_data = sub_data[sub_data['DTIME_CREDIT_diff'] > 0 ] # = Series
        print sub_data[sub_data['DTIME_CREDIT_diff'].values != 0]['DTIME_CREDIT_diff']

1         NaT
2         NaT
3    455 days
4    239 days
5    260 days
7      5 days
9    127 days
11   201 days
13   451 days
15   715 days
Name: DTIME_CREDIT_diff, dtype: timedelta64[ns]

D:\winPy\winPy\python-2.7.10.amd64\lib\site-packages\ipykernel\__main__.py:7: DeprecationWarning: Implicitly casting between incompatible kinds. In a future numpy release, this will raise an error. Use casting="unsafe" if this is intentional.

In [74]:
sub_data['DTIME_CREDIT_diff'].values.astype(np.int64)

array([-9223372036854775808, -9223372036854775808, 39312000000000000,
       20649600000000000, 22464000000000000, 432000000000000,
       10972800000000000, 17366400000000000, 38966400000000000,
       61776000000000000], dtype=int64)

In [ ]:
#delta.days

for ct in un_CTs:
    if quant(ct).values[0] > 1:
        sub_data['DTIME_CREDIT_diff'] = sub_data[sub_data['CREDIT_TYPE'] == ct]['DTIME_CREDIT'].diff(1)
        sub_sub_data = sub_data[sub_data['DTIME_CREDIT_diff'] > 0 ] # = Series
        print sub_sub_data

In [ ]:
# по каждому типу кредитов - если его > 1, вычисляем дифефренс по датам старта кредита
for ct in un_CTs:
    if quant(ct).values[0] > 1:
        sub_data['DTIME_CREDIT_diff'] = sub_data[sub_data['CREDIT_TYPE'] == ct]['DTIME_CREDIT'].diff(1)
        sub_sub_data = sub_data[sub_data['DTIME_CREDIT_diff'] > 0 ] # = Series
        print sub_sub_data

In [ ]:
# по каждому типу кредита выясняем разицу по датам 
for ct in  un_CTs:
    print sub_data[sub_data['CREDIT_TYPE'] == ct][date_cols].diff(1)

In [ ]:
sub_data.groupby(['CREDIT_TYPE'])[date_cols].diff(1)

In [ ]:
sub_data = sub_data.loc[sub_data['DTIME_CREDIT'].groupby(sub_data['CREDIT_TYPE']).idxmax()] # выводит наиболее поздний кредит по каждому типу кредита (но при этом теряем если он брал несколько кредитов)

In [ ]:
sub_data

In [ ]:
sub_data[date_cols].describe()

In [ ]:
sub_data.sort_values(['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE'], ascending=[True, True, True])[date_cols].diff(1)


#sub_data[date_cols].diff(1)

In [ ]:
#for date in sub_data['DTIME_CREDIT']:
#    print (sub_data.groupby('ID')['Income'].apply(lambda x: x.abs().idxmax()))

In [ ]:
  
    
#date = sub_data.sort_values(['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE']['DTIME_CREDIT']
#sub_data.sort_values(['DTIME_CREDIT', 'CREDIT_TYPE'], ascending=[True,False])

In [ ]:
for date in sub_data.sort_values(['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE'], ascending=[True, True, True]):
    date = sub_data.sort_values(['DTIME_CREDIT', 'CREDIT_TYPE', 'NUM_SOURCE']['DTIME_CREDIT'].idxmin()
    un_CTs = sub_data.CREDIT_TYPE.unique()
    sub_data['CREDIT_DAY_OVERDUE'] =

In [ ]:
# выбираем credit type
ct = 
date = sub_data[sub_data['CREDIT_TYPE'] == 4]['DTIME_CREDIT'] 
print date
#print date[sub_data['CREDIT_TYPE'] == 5]  # Если нет такого типа кредита возвращает Series[]

In [ ]:
sub_data = data[data['ID'] == 108445]

for ct in Cts: # проверяем по каждому из типов кредитов
        date = sub_data['DTIME_CREDIT']
        if (sub_data['CREDIT_TYPE'] == ct) & sub_data['DTIME_CREDIT'] - date

In [ ]:
date = 0
for id in IDs:
    sub_data = data[data['ID'] == id] # взяли информацию по одному ID
    for ct in Cts: # проверяем по каждому из типов кредитов
        date = sub_data['DTIME_CREDIT']
        if (sub_data['CREDIT_TYPE'] == ct) & sub_data['DTIME_CREDIT']

In [ ]:
def diff(cn, ct, dt):

In [ ]:
cn = 0
ct = 0 
dt = 0 
for row in data:
    cn = data['ID']
    ct = data['CREDIT_TYPE']
    dt = data['DTIME_CREDIT']

In [ ]:
data_ct1 = data[data['CREDIT_TYPE'] == 1]
data_ct1.info()

In [ ]:
columns_to_show = ['AMT_REQ_SOURCE_DAY', 'AMT_REQ_SOURCE_WEEK',
                   'AMT_REQ_SOURCE_MON', 'AMT_REQ_SOURCE_QRT',
                   'AMT_REQ_SOURCE_YEAR']

data_ct1.groupby(['NUM_SOURCE'])[columns_to_show].agg([np.mean, np.std, np.min, np.max])

In [ ]:
columns_to_show1 = ['CREDIT_ACTIVE', 'CREDIT_DAY_OVERDUE', 
                    'CREDIT_FACILITY', 'AMT_ANNUITY']

data_ct1.groupby(['NUM_SOURCE'])[columns_to_show1].agg([np.mean, np.std, np.min, np.max])

In [ ]:
columns_to_show2 = ['AMT_CREDIT_MAX_OVERDUE',
                    'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT',
                    'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE']

data_ct1.groupby(['NUM_SOURCE'])[columns_to_show2].agg([np.mean, np.std, np.min, np.max])

****

In [ ]:
data.groupby(['NUM_SOURCE'])['CREDIT_TYPE'].describe()

In [ ]:
data.groupby(['NUM_SOURCE'])['CREDIT_TYPE'].unique()

In [ ]:
data['CREDIT_TYPE'].unique()

*Выводы (возможно это просто характеристика выборки):*

 * *В 2_источнике информация только о 4 или 5 типе кредитов*
 * *В 3 и 4 источниках информация о более широком наборе кредитов (1, 3, 4, 5 + 6 / 18/ 19)*
 * *В 1_источнике информация о небольшом наборе кредитов 1, 3, 4, 5*

Изучаем 4 и 5 типы кредитов

In [ ]:
# Проверяем насколько велико отклонение между данными по всем источникам но именно по 4 и 5 типу кредитов
# Надо бы проверить в каком источнике данные более конистентны / надёжны, но как?
# Причём ведём анализ по-отдельности (4 и 5)

columns_to_show = ['CREDIT_ACTIVE', 'CREDIT_DAY_OVERDUE', 'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT']

print "•4 - кредитная карта", "\n", "•5 - потребительский кредит", "\n"

print "Распределение данных по типам кредитов:", '\n', data['CREDIT_TYPE'].value_counts(), '\n'

print "Срeдние значения параметров для 4 типа кредита", '\n', data[data['CREDIT_TYPE'] == 4][columns_to_show].mean(), '\n'
print data[data['CREDIT_TYPE'] == 4 ].groupby(['NUM_SOURCE'])[columns_to_show].agg([np.mean, np.std, np.min, np.max])


print "\n\n","Срeдние значения параметров для 5 типа кредита", '\n', data[data['CREDIT_TYPE'] == 5][columns_to_show].mean(), '\n'
print data[data['CREDIT_TYPE'] == 5 ].groupby(['NUM_SOURCE'])[columns_to_show].agg([np.mean, np.std, np.min, np.max])


#data[(data['CREDIT_TYPE'] == 4 | (data['CREDIT_TYPE'] == 5 )].groupby(['NUM_SOURCE'])[['CREDIT_TYPE',
#                                                                                         'CREDIT_DAY_OVERDUE']].agg([np.mean, np.std, np.min, np.max])


#data.groupby(['NUM_SOURCE'])['CREDIT_TYPE'].agg([np.mean, np.std, np.min, np.max])

Всё это делается для того чтобы понять, по какому признаку чистить данные из разных источников. 

Пока непонятно :)

****

По последнему признаку:
* количество платежей
* количество просроченных платежей

In [ ]:

# нужно раскрыть Out

for column in columns:
    print data.groupby(['CREDIT_FACILITY'])[column].value_counts(normalize = True)

In [ ]:
print data.groupby(['CREDIT_FACILITY'])['DEF'].value_counts(normalize = True)

In [ ]:
cols = ['DEF', 'NUM_SOURCE', 'CREDIT_ACTIVE',
 'CREDIT_COLLATERAL' , 'CREDIT_CURRENCY', 'DTIME_CREDIT', 'CREDIT_DAY_OVERDUE',
 'DTIME_CREDIT_ENDDATE', 'DTIME_CREDIT_ENDDATE_FACT',
 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG', 'AMT_CREDIT_SUM',
 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE',
 'CREDIT_SUM_TYPE', 'CREDIT_TYPE', 'DTIME_CREDIT_UPDATE', 'CREDIT_DELAY30',
 'CREDIT_DELAY5', 'CREDIT_DELAY60', 'CREDIT_DELAY90', 'CREDIT_DELAY_MORE',
 'AMT_REQ_SOURCE_HOUR', 'AMT_REQ_SOURCE_DAY', 'AMT_REQ_SOURCE_WEEK',
 'AMT_REQ_SOURCE_MON', 'AMT_REQ_SOURCE_QRT', 'AMT_REQ_SOURCE_YEAR',
 'AMT_ANNUITY', 'TEXT_PAYMENT_DISCIPLINE']
for column in cols:
    print data.groupby(['CREDIT_FACILITY'])[column].value_counts(normalize = True)

In [ ]:
print data[data['CREDIT_FACILITY'] == 0]['DEF'].describe()
print data[data['CREDIT_FACILITY'] == 2]['DEF'].describe()
print data[data['CREDIT_FACILITY'] == 9]['DEF'].describe()

In [ ]:
col1 = ['CREDIT_ACTIVE', 'CREDIT_COLLATERAL', 'CREDIT_CURRENCY']
col2 = ['SK_DATE_DECISION', 'DEF', 'NUM_SOURCE',
       #'CREDIT_ACTIVE', 'CREDIT_COLLATERAL', 'CREDIT_CURRENCY',
       'DTIME_CREDIT', 'CREDIT_DAY_OVERDUE', 'DTIME_CREDIT_ENDDATE',
       'DTIME_CREDIT_ENDDATE_FACT', 'CREDIT_FACILITY',
       'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG', 'CREDIT_SUM_TYPE', 'CREDIT_TYPE',
       'DTIME_CREDIT_UPDATE', 'CREDIT_DELAY30', 'CREDIT_DELAY5',
       'CREDIT_DELAY60', 'CREDIT_DELAY90', 'CREDIT_DELAY_MORE',
       'AMT_REQ_SOURCE_HOUR', 'AMT_REQ_SOURCE_DAY', 'AMT_REQ_SOURCE_WEEK',
       'AMT_REQ_SOURCE_MON', 'AMT_REQ_SOURCE_QRT', 'AMT_REQ_SOURCE_YEAR']
print data.groupby(['CREDIT_FACILITY'])[col1].value_counts(normalize = True)